@font-face {
    font-family: 'AMA';
    src: url('AMA-Regular.eot');
    src: local('AMA'), local('AMA-Regular'),
        url('AMA-Regular.eot?#iefix') format('embedded-opentype'),
        url('AMA-Regular.woff2') format('woff2'),
        url('AMA-Regular.woff') format('woff'),
        url('AMA-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

